[OPTIONS]
ACTION="Install"
IACCEPTSQLSERVERLICENSETERMS="True"
QUIET="True"
QUIETSIMPLE="False"
UpdateEnabled="True"
FEATURES={{ sql_server_features }}
INSTANCENAME={{ sql_server_instance_name }}
INSTANCEID={{ sql_server_instance_name }}
INSTANCEDIR="{{ sql_server_install_path }}"
INSTALLSHAREDDIR="{{ sql_server_install_path }}\Shared"
INSTALLSHAREDWOWDIR="{{ sql_server_install_path }}\Shared"
INSTANCEDIR="{{ sql_server_install_path }}"
INSTALLSQLDATADIR="{{ sql_server_install_path }}\Data"
SQLCOLLATION="SQL_Latin1_General_CP1_CI_AS"
SQLSVCACCOUNT="NT Service\MSSQL${{ sql_server_instance_name }}"
SQLSVCSTARTUPTYPE="Automatic"
SQLSYSADMINACCOUNTS="BUILTIN\Administrators"
AGTSVCACCOUNT="NT Service\SQLAGENT${{ sql_server_instance_name }}"
AGTSVCSTARTUPTYPE="Automatic"
ISSVCACCOUNT="NT Service\MSDTS"
ISSVCSTARTUPTYPE="Automatic"
ISSVCINSTALLACCOUNT="BUILTIN\Administrators"
TCPENABLED="1"
NPENABLED="0"
BROWSERSVCSTARTUPTYPE="Automatic"
SAPWD="{{ sql_server_sa_password }}"
SECURITYMODE="SQL" 