dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/openldap/certs/{{ssl_cert|basename}}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/openldap/certs/{{ssl_private_key|basename}}
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/openldap/certs/{{ssl_ca_cert|basename}}
