
description "Grails Tomcat Server"

start on runlevel [2345]
stop on runlevel [!2345]
respawn
respawn limit 10 5

script
	exec /entrypoint.sh
end script

post-stop script 
  rm -rf /usr/local/tomcat/temp/*
end script
