tickTime=2000
dataDir=/var/lib/zookeeper
clientPort=2181
initLimit=5
syncLimit=2
{% for server in remote_file['stdout_lines'] %}
server.{{ loop.index }}={{ server }}:2888:3888
{% endfor %}
autopurge.snapRetainCount=3
autopurge.purgeInterval=24